<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/css/style.css"/>
        <!-- Custom Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="nav">
            <img class="logo" src="../static/images/WeatherTech.png">
            <nav>
                <ul class="navbar-links nav-center">
                    <li><a href="#">Local Weather</a></li>
                    <li><a href="#">Forecast</a></li>
                    <li><a href="#">Bruh</a></li>
                    <li><a href="#">Joe Mama</a></li>
                </ul>
            </nav>
            <a href="/register"><button class="button-1">Sign Up</button></a>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>