<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/css/style.css"/>
        <!-- Custom Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="heading">
            <h1>WeatherTech</h1>
            <!-- Replace this with a "Welcome {user}"" feature -->
            <!-- flask --app flaskr --debug run -->
            <h3>Simplicity, Functionality, and Accuracy</h3>
        </div>
        <video autoplay loop muted class="background-video"><source src="../static/images/clouds.mp4" type="video/mp4"></video>
    </body>
</html>