{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <title>Evan Yegorov</title>
    </head>
    <body>
        <div class="heading">
            <h1>WeatherTech</h1>
            <!-- Replace this with a "Welcome {user}"" feature -->
            <!-- flask --app flaskr --debug run -->
            <h3>Simplicity, Functionality, and Accuracy</h3>
        </div>
        <video autoplay loop muted class="background-video"><source src="../static/images/clouds.mp4" type="video/mp4"></video>
    </body>
</html>
{% endblock %}